---
- name: Download installer for {{ ansible_facts.os_family }} will take some minutes
  get_url:
   url:  "{{  mq_ibm_url  }}{{ mq_installers['mq_'+ansible_facts.os_family+'_package'] }}"
   dest: "{{ mq_install_dir }}{{ mq_installers['mq_'+ansible_facts.os_family+'_package'] }}"
- name: untar install archive
  unarchive:
   src:  "{{ mq_install_dir }}{{ mq_installers['mq_'+ansible_facts.os_family+'_package'] }}"
   dest: "{{ mq_install_dir }}"
   copy: no
   creates: "{{ mq_install_dir }}{{ mq_uncompress_dir }}"
  become: yes